<?xml version="1.0"?>
<configuration>
  <startup>
  </startup>
  <appSettings>
    <!--Vars -->
    <add key="instance1" value="C:\Queris\EGYPT"/>
    <add key="instance2" value="C:\Queris\FINLAND"/>
    <add key="instance3" value="C:\Queris\ITALY - TERNI"/>
    <add key="instance4" value="C:\Queris\PHILIPPINES"/>
    <add key="instance5" value="C:\Queris\RUSSIA"/>
    <add key="instance6" value="C:\Queris\SERBIA"/>
    <add key="instance7" value="C:\Queris\SPAIN"/>
  </appSettings>
</configuration>